In [34]:
import pandas as pd
from pathlib import Path
import seaborn as sns
%matplotlib inline

In [35]:
#SET VOLCANO PATH, ALL VOLCANO DATA
Volcanoes_df = Path("Resources/The_Volcanoes_Of_Earth.csv")
Volcanoes_df = pd.read_csv(Volcanoes_df)

In [36]:
Volcanoes_df.head()

,Volcano_Name,Volcano_Image,Volcano_Type,Country,Region,Subregion,epoch_period,Last_Eruption,Summit_and_Elevatiuon,Latitude,Longitude,population_within_5km,population_within_10km,population_within_30km,population_within_100km
0,Abu,https://volcano.si.edu/gallery/photos/GVP-0895...,Shield(s),Japan,"Japan, Taiwan, Marianas",Honshu,holocene,6850 BCE,"641 m, 2103 ft",34.5°N,131.6°E,3597.0,9594.0,117805.0,4071152.0
1,Acamarachi,https://volcano.si.edu/gallery/photos/GVP-0688...,Stratovolcano,Chile,South America,"Northern Chile, Bolivia and Argentina",holocene,Unknown - Evidence Credible,"6023 m, 19760 ft",23.292°S,67.618°W,0.0,7.0,294.0,9092.0
2,Acatenango,https://volcano.si.edu/gallery/photos/GVP-0788...,Stratovolcano(es),Guatemala,México and Central America,Guatemala,holocene,1972 CE,"3976 m, 13045 ft",14.501°N,90.876°W,4329.0,60730.0,1042836.0,7634778.0
3,Acigol-Nevsehir,https://volcano.si.edu/includes/images/noimage...,Caldera,Turkey,Mediterranean and Western Asia,Turkey,holocene,2080 BCE,"1683 m, 5522 ft",38.537°N,34.621°E,127863.0,127863.0,218469.0,2253483.0
4,Adams,https://volcano.si.edu/gallery/photos/GVP-0281...,Stratovolcano,United States,Canada and Western USA,USA (Washington),holocene,950 CE,"3742 m, 12277 ft",46.206°N,121.49°W,0.0,70.0,4019.0,393303.0

In [37]:
#DETERMINE DATA TYPES
Volcanoes_df.dtypes

Volcano_Name                object
Volcano_Image               object
Volcano_Type                object
Country                     object
Region                      object
Subregion                   object
epoch_period                object
Last_Eruption               object
Summit_and_Elevatiuon       object
Latitude                    object
Longitude                   object
population_within_5km      float64
population_within_10km     float64
population_within_30km     float64
population_within_100km    float64
dtype: object

In [38]:
#SETTING NEW VARIABLE FOR VOLCANO NAMES AND BASIC STATS, 
#SETTING IT UP TO COMPARE TO EARTHQUAKES
Volcano_Names = Path("Resources/The_Volcanoes_Of_Earth.csv")
Volcano_Names = pd.read_csv(Volcano_Names, index_col="Volcano_Name")
Volcano_Names.head()

,Volcano_Image,Volcano_Type,Country,Region,Subregion,epoch_period,Last_Eruption,Summit_and_Elevatiuon,Latitude,Longitude,population_within_5km,population_within_10km,population_within_30km,population_within_100km
Volcano_Name,,,,,,,,,,,,,,
Abu,https://volcano.si.edu/gallery/photos/GVP-0895...,Shield(s),Japan,"Japan, Taiwan, Marianas",Honshu,holocene,6850 BCE,"641 m, 2103 ft",34.5°N,131.6°E,3597.0,9594.0,117805.0,4071152.0
Acamarachi,https://volcano.si.edu/gallery/photos/GVP-0688...,Stratovolcano,Chile,South America,"Northern Chile, Bolivia and Argentina",holocene,Unknown - Evidence Credible,"6023 m, 19760 ft",23.292°S,67.618°W,0.0,7.0,294.0,9092.0
Acatenango,https://volcano.si.edu/gallery/photos/GVP-0788...,Stratovolcano(es),Guatemala,México and Central America,Guatemala,holocene,1972 CE,"3976 m, 13045 ft",14.501°N,90.876°W,4329.0,60730.0,1042836.0,7634778.0
Acigol-Nevsehir,https://volcano.si.edu/includes/images/noimage...,Caldera,Turkey,Mediterranean and Western Asia,Turkey,holocene,2080 BCE,"1683 m, 5522 ft",38.537°N,34.621°E,127863.0,127863.0,218469.0,2253483.0
Adams,https://volcano.si.edu/gallery/photos/GVP-0281...,Stratovolcano,United States,Canada and Western USA,USA (Washington),holocene,950 CE,"3742 m, 12277 ft",46.206°N,121.49°W,0.0,70.0,4019.0,393303.0

In [39]:
#DETERMINING VOLCANO NAMES 
Volcano_Names = Volcano_Names[['Volcano_Type', 'Country', 'Last_Eruption']]
Volcano_Names.head()

                      Volcano_Type        Country                Last_Eruption
Volcano_Name
Abu                      Shield(s)          Japan                     6850 BCE
Acamarachi           Stratovolcano          Chile  Unknown - Evidence Credible
Acatenango       Stratovolcano(es)      Guatemala                      1972 CE
Acigol-Nevsehir            Caldera         Turkey                     2080 BCE
Adams                Stratovolcano  United States                       950 CE

In [40]:
Volcano_Names.tail()

                           Volcano_Type   Country Last_Eruption
Volcano_Name
Zarechny                     Caldera(s)    Russia   Pleistocene
Zenikame                      Submarine     Japan   Pleistocene
Zheltiy                   Stratovolcano    Russia   Pleistocene
Zhupanovskiye Vostriyaky  Stratovolcano    Russia   Pleistocene
Zikwala                   Stratovolcano  Ethiopia   Pleistocene

In [41]:
Volcano_Names['Country'].value_counts()

Country
United States            324
Japan                    283
Russia                   258
Indonesia                213
Chile                    158
                        ...
Saint Lucia                1
Jordan                     1
Sao Tome and Principe      1
Pakistan                   1
Senegal                    1
Name: count, Length: 96, dtype: int64

In [42]:
###ADDING EARTHQUAKES

In [43]:
Earthquakes_df = Path("Resources/earthquake_1995-2023.csv")
Earthquakes_df = pd.read_csv(Earthquakes_df)

In [44]:
Earthquakes_df.head()

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 6.5 - 42 km W of Sola, Vanuatu",6.5,16-08-2023 12:47,7,4,green,0,657,us,114,7.177000,25.0,mww,192.955,-13.8814,167.1580,"Sola, Vanuatu",NaN,Vanuatu
1,"M 6.5 - 43 km S of Intipucá, El Salvador",6.5,19-07-2023 00:22,8,6,yellow,0,775,us,92,0.679000,40.0,mww,69.727,12.8140,-88.1265,"Intipucá, El Salvador",NaN,NaN
2,"M 6.6 - 25 km ESE of Loncopué, Argentina",6.6,17-07-2023 03:05,7,5,green,0,899,us,70,1.634000,28.0,mww,171.371,-38.1911,-70.3731,"Loncopué, Argentina",South America,Argentina
3,"M 7.2 - 98 km S of Sand Point, Alaska",7.2,16-07-2023 06:48,6,6,green,1,860,us,173,0.907000,36.0,mww,32.571,54.3844,-160.6990,"Sand Point, Alaska",NaN,NaN
4,M 7.3 - Alaska Peninsula,7.3,16-07-2023 06:48,0,5,NaN,1,820,at,79,0.879451,172.8,Mi,21.000,54.4900,-160.7960,Alaska Peninsula,NaN,NaN

In [45]:
#DETERMINE DATA TYPES
Earthquakes_df.dtypes

title         object
magnitude    float64
date_time     object
cdi            int64
mmi            int64
alert         object
tsunami        int64
sig            int64
net           object
nst            int64
dmin         float64
gap          float64
magType       object
depth        float64
latitude     float64
longitude    float64
location      object
continent     object
country       object
dtype: object

In [48]:
#SETTING NEW VARIABLE FOR EARTHQUAKE TITLES AND BASIC STATS, 
#SETTING IT UP TO COMPARE TO EARTHQUAKES
EQ_Titles = Path("Resources/earthquake_1995-2023.csv")
EQ_Titles = pd.read_csv(EQ_Titles, index_col="title")
EQ_Titles.head()

,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
title,,,,,,,,,,,,,,,,,,
"M 6.5 - 42 km W of Sola, Vanuatu",6.5,16-08-2023 12:47,7,4,green,0,657,us,114,7.177000,25.0,mww,192.955,-13.8814,167.1580,"Sola, Vanuatu",NaN,Vanuatu
"M 6.5 - 43 km S of Intipucá, El Salvador",6.5,19-07-2023 00:22,8,6,yellow,0,775,us,92,0.679000,40.0,mww,69.727,12.8140,-88.1265,"Intipucá, El Salvador",NaN,NaN
"M 6.6 - 25 km ESE of Loncopué, Argentina",6.6,17-07-2023 03:05,7,5,green,0,899,us,70,1.634000,28.0,mww,171.371,-38.1911,-70.3731,"Loncopué, Argentina",South America,Argentina
"M 7.2 - 98 km S of Sand Point, Alaska",7.2,16-07-2023 06:48,6,6,green,1,860,us,173,0.907000,36.0,mww,32.571,54.3844,-160.6990,"Sand Point, Alaska",NaN,NaN
M 7.3 - Alaska Peninsula,7.3,16-07-2023 06:48,0,5,NaN,1,820,at,79,0.879451,172.8,Mi,21.000,54.4900,-160.7960,Alaska Peninsula,NaN,NaN

In [51]:
#DETERMINING EARTHQUAKE TITLES
EQ_Titles = EQ_Titles[['country', 'date_time']]
EQ_Titles.head()

                                            country         date_time
title
M 6.5 - 42 km W of Sola, Vanuatu            Vanuatu  16-08-2023 12:47
M 6.5 - 43 km S of Intipucá, El Salvador        NaN  19-07-2023 00:22
M 6.6 - 25 km ESE of Loncopué, Argentina  Argentina  17-07-2023 03:05
M 7.2 - 98 km S of Sand Point, Alaska           NaN  16-07-2023 06:48
M 7.3 - Alaska Peninsula                        NaN  16-07-2023 06:48

In [53]:
#CONCATTING EARTHQUAKES AND VOLCANOES
EQs_Vs = pd.concat([EQ_Titles, Volcano_Names], axis="columns", join="inner")
EQs_Vs

InvalidIndexError: Reindexing only valid with uniquely valued Index objects